.loadBtn {
    display: flex;
    justify-content: center;


    button {
        background-color: #179c10;
        border: none;
        padding: 8px 10px;
        border-radius: 8px;


        &:hover {
            background-color: #0d7d09;
        }
    }

}